body {
	background: url("images/sunset-1.jpg");
	background-size: 100%;
}

.anchor {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

@media(max-width:767px) { /* small screen */
	.myPanel {
		position: relative;
		top: 50px;
	}

}

.near {
	margin: 1%;
}

.details {
	margin-top: 2%;
}

.eventCode {
	width: 30%;
	float: left;
	margin: 1%;
}

.hide {
	display: none;
}

.currentEvents {
	margin-top: 7%;
	opacity: 0.8;
}

.buttonLink {
	list-style-type: none;
}